<div class="w-full flex justify-center">
  <div class="flex flex-col align-middle">
    <div class="flex space-x-10 my-10 justify-center">
      <a routerLink="button" class="hover:text-sky-300">Button</a>
      <a routerLink="layout" class="hover:text-sky-300">Layout</a>
      <a routerLink="breakpoint" class="hover:text-sky-300">Breakpoint</a>
      <a routerLink="position" class="hover:text-sky-300">Position</a>
      <a routerLink="table" class="hover:text-sky-300">Table</a>
      <a routerLink="animation" class="hover:text-sky-300">Animation</a>
      <a routerLink="custom" class="hover:text-sky-300">Custom</a>
      <a routerLink="form" class="hover:text-sky-300">Form</a>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
