<div
  class="w-[70vw] border grid grid-flow-row sm:grid-cols-2 md:grid-cols-4 gap-4 p-5"
>
  <div class="border sm:row-start-1 sm:row-end-3 md:col-start-1 md:col-end-3">
    1
  </div>
  <div class="h-[50px] border">2</div>
  <div class="h-[50px] border">3</div>
  <div class="h-[50px] border">4</div>
  <div
    class="border md:col-start-3 md:col-end-5 sm:row-start-3 sm:row-end-6 sm:col-start-2 sm:col-end-3"
  >
    5
  </div>
  <div class="h-[50px] border">6</div>
  <div class="h-[50px] border md:col-end-5">7</div>
  <div class="h-[50px] border md:col-start-2 md:col-end-5">8</div>
  <div class="h-[50px] border">9</div>
</div>
