<table class="border-collapse border border-slate-500 w-full">
  <thead class="bg-slate-700">
    <tr>
      <th class="border border-slate-600">A</th>
      <th class="border border-slate-600">B</th>
      <th class="border border-slate-600">C</th>
      <th class="border border-slate-600">D</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="border border-slate-700 text-center">1</td>
      <td class="border border-slate-700 text-center">2</td>
      <td class="border border-slate-700 text-center">3</td>
      <td class="border border-slate-700 text-center">4</td>
    </tr>
    <tr>
      <td class="border border-slate-700 text-center">5</td>
      <td class="border border-slate-700 text-center">6</td>
      <td class="border border-slate-700 text-center">7</td>
      <td class="border border-slate-700 text-center">8</td>
    </tr>
    <tr>
      <td class="border border-slate-700 text-center">9</td>
      <td class="border border-slate-700 text-center">10</td>
      <td class="border border-slate-700 text-center">11</td>
      <td class="border border-slate-700 text-center">12</td>
    </tr>
  </tbody>
</table>
